<div style="height: 100vh;">
  <div class="py-4 text-center bg-light" #titleRef>Estimation Juicy Field</div>
  <div class="container mt-3">
    <div class="row">
      <mat-form-field  class="col-6">
        <mat-label>Prêt de départ (€)</mat-label>
        <input matInput type="number" [min]="0" [(ngModel)]="investParams.investLoanning"/>
      </mat-form-field>
      <mat-form-field  class="col-6">
        <mat-label>Temps avant remboursement (en mois)</mat-label>
        <input matInput type="number" [min]="0" [(ngModel)]="investParams.loanningTimeRefund"/>
      </mat-form-field>
      <mat-form-field  class="col-6">
        <mat-label>Capital d'investissement de départ (€) (hors prêt)</mat-label>
        <input matInput type="number" [min]="0" [(ngModel)]="investParams.investStarter"/>
      </mat-form-field>
      <mat-form-field  class="col-6">
        <mat-label>Investissement par mois (€)</mat-label>
        <input matInput type="number" [min]="0" [(ngModel)]="investParams.investByMounth"/>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Réinvestissement des gains (%)</mat-label>
        <input matInput type="number" [min]="0" [max]="100" [(ngModel)]="partialReinvest.percent"/>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Temps minimal avant le premier retrait (en mois)</mat-label>
        <input matInput type="number" [min]="0" [(ngModel)]="partialReinvest.minimalTimeBeforeDrop"/>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Fréquence de retrait (en mois)</mat-label>
        <input matInput type="number" [min]="1" [(ngModel)]="partialReinvest.frequency"/>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Plafond max par retrait (€) (0 = pas de plafond)</mat-label>
        <input matInput type="number" [min]="0" [(ngModel)]="partialReinvest.maxRentDrop"/>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Investissement Type</mat-label>
        <mat-select [(ngModel)]="investParams.investTypeId">
          <mat-option *ngFor="let investType of investTypeData" value="{{investType.id}}">{{investType.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="col-6">
        <mat-label>Nombre d'années</mat-label>
        <input matInput type="number" [min]="1" [(ngModel)]="yearsGeneration"/>
      </mat-form-field>
      <mat-checkbox class="col-12 text-center" style="height: 40px;" [(ngModel)]="displayTotalInvest">Afficher le total investi</mat-checkbox>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <button mat-raised-button color="primary" (click)="recalculate()">Recalculer</button>
      </div>
    </div>  
    <div class="my-5 d-flex justify-content-center">
      <ngx-charts-line-chart
        [view]="[titleRef.offsetWidth, window().innerHeight * 0.8]"
        [autoScale]="true"
        [legendPosition]="legendPosition"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="ngxArrayData">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>