<mat-tab-group mat-align-tabs="center" headerPosition="below" style="width: 100%; height: 100%;" backgroundColor="primary" selectedIndex="1">
  <mat-tab label="Mon estimation">
    <app-estimate #estimateComponent
      [investParams]="profile.myEstimate.investParams" 
      [displayPanel]="profile.myEstimate.displayPanel"
      (submit)="setParamsFromEstimate($event)">
    </app-estimate>
  </mat-tab>
  <mat-tab label="Mon investissement">
    <app-investisment 
      [myInvestisment]="profile.myInvestisment"
      [myInvestismentGraph]="myInvestismentGraph"
      (submit)="setMyInvestisment($event)">
    </app-investisment>
  </mat-tab>
  <mat-tab label="Mes statistiques">
    <app-statistic [myInvestisment]="myInvestisment"></app-statistic>
  </mat-tab>
</mat-tab-group>