<div class="container" style="margin-top: 70px;">
  <div class="d-flex justify-content-center">
    <ngx-charts-line-chart
      [view]="[window().innerWidth, window().innerHeight -56 -21 -32 -48]"
      [autoScale]="true"
      [legendPosition]="legendPosition"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="myStatGraph">
    </ngx-charts-line-chart>
  </div>
</div>