@import "./variables.scss";
@import "./themes.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary {
  color: $primary;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.add-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background: $accent;
  border-radius: 50%;
  border: none;
  width: 28px;
  height: 28px;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table {
  overflow-x: auto;
  width: 100%;
  display: flex;
}