<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom: 1px solid #e7e7e7;">
  <div class="navbar-brand text-uppercase fw-bold mx-2">Juicy Field</div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/profiles">Liste des profiles</a>
      </li>
      <!-- <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/estimation">Estimation</a></li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
          [ngClass]="{'active': rla.isActive}">
          Changer de profile
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="active" #rla="routerLinkActive">
          <li *ngFor="let profile of profiles">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/profile/{{profile.pseudo}}">{{profile.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>