<navbar></navbar>

<div class="container" style="padding-top: 57px; height: 100%;">
  <div class="row justify-content-center profile-container">
    <div class="col-12 profile-title">Qui investit ?</div>
    <div class="col-12 col-md-4 col-lg-3" *ngFor="let profile of profiles" routerLink="/profile/{{profile.pseudo}}" [state]="{profile: profile}">
      <div class="card cursor-pointer">
        <div class="card-body">
          <div class="round-container bg-light">
            <img src="{{profile.imageUrl ? profile.imageUrl : '/assets/defaultProfile.jpg'}}"/>
          </div>
          <h5 class="card-title text-center">{{profile.name}}</h5>
          <p class="card-text text-center">{{profile.pseudo}}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 card cursor-pointer" (click)="openDialog()">
      <div class="card-body">
        <div class="round-container bg-light">
          <img src="/assets/add.png" style="height: 60%; width: 60%;"/>
        </div>
        <h5 class="card-title text-center">Ajouter un profile</h5>
      </div>
    </div>
  </div>
</div>
